<div class="comment-post-slider">
    
    <div class="move-up-whole" id="post-section">
        <%if(posts.length == 0 ){%>
            <p style="font-family: monospace; font-weight: 900; color: red; font-size: 2rem;">
                No post Availbale.
            </p>
        <%}%>
        <% for(let post of posts){%>
            <div class="modify-when-needed">
                <%if(isHome == true){%>
                    <div class="user-profile-link">
                        <a href="/users/profile/<%= post.user._id%>">
                            <i class="fas fa-user-circle"></i>&nbsp; 
                            <%= post.user.name%>
                        </a>
                    </div>
                <%}%>
    
                <div class="post-card">
                    <div class="post-image">
                        <%if(post.postImages.length == 0 ){%>
                            <img src="/images/dummy.webp" height="100%" width="100%">
                        <%}else{%>
                                <i class="fas fa-angle-left fa-3x slide-image-left"></i>
                                <i class="fas fa-angle-right fa-3x slide-image-right" ></i>
                            <div class="large-image-box" data-imageNumber="<%= post.postImages.length%>">
                                <%for(image of post.postImages){%>
                                    <img src="/<%=image%>" height="100%" width="100%" class="image-screen" >
                                <%}%>
                            </div> 
                        <%}%>
                    </div>
                    <div class="post-info-part">
                        <div class="post-heading">
                            <%= post.title%>
                        </div>
                        <div class="post-description" style="white-space: pre-line;" >
                            <%= post.postDescription%>
                        </div>
                    </div>
                    <div class="post-buttons">
                        <div>
                            <i class="far fa-thumbs-up fa-2x"></i>
                            <font>69M</font>
                        </div>
                        <div>
                            <i class="far fa-thumbs-down fa-2x"></i>
                            <font>69</font>
                        </div>
                        <div class="view-comment-section">
                            <i class="far fa-comment-alt fa-2x"></i>
                            <font><%= post.comments.length%></font>
                        </div>
        
                        <% if(locals.user && locals.user.id == post.user.id){%>
                            <a class="delete-button" href="/posts/delete-post/<%= post._id %>" >
                                <i class="fas fa-trash-alt fa-2x"></i>
                            </a>
                        <%}%>
                    </div>
                </div>
                <div>
                    <form method="POST" action="/posts/create-comments" class="comment-box">
                        <label for="comment"><i class="fas fa-2x fa-comment-alt"></i></label>
                        <input placeholder="Type here to Comment" type="text" maxlength="200" name="comment" id="comment">
                        <input type="hidden" value="<%= post._id%>" name="postID">
                        <button class="comment-button"><i class="fas fa-pencil"></i> &nbsp;Comment</button>
                    </form>
                </div>
                <div class="comment-section">
                    <h1>
                        Comments.
                    </h1>
                   
                    <% for(let comment of post.comments){%>
                        <div class="comment-card" >
                            <div class="comment-creater">
                                <i class="fas fa-user-circle"></i> <%= comment.user.name%>
                            </div><br>
                            <div class="comment">
                               <%= comment.content%>
                            </div>
                            <div class="comment-date">
                                <%= comment.user.createdAt%>
                            </div>
                            <% if(locals.user && locals.user.id == comment.user.id){%>
                                <a class="delete-button-comments" href="/posts/delete-comment/<%= comment._id %>" >
                                    <i class="fas fa-trash-alt "></i>
                                </a>
                            <%}%>
                        </div>
                        
                    <%}%>
                    <%if(post.comments.length == 0){%>
                        <h2>
                            No Comments Available.
                        </h2>
                    <%}%>
                    
                </div>
            </div>
        <%}%>
    </div>


    <div class="comment-main-card">
        <%if(allComments.length == 0 ){%>
            <p style="color: red; font-family: monospace; font-size: 2rem; font-weight: 900;">
                No Comments Availbale.
            </p>
        <%}%>
        <% for(let comment of allComments){%>
            <div class="comment-card" >
                <div class="comment-creater">
                    <i class="fas fa-user-circle"></i> <%= comment.user.name%>
                </div><br>
                <div class="comment">
                   <%= comment.content%>
                </div>
                <div class="comment-main-date">
                    <%= comment.user.createdAt%>
                </div>
                <% if(locals.user && locals.user.id == comment.user.id){%>
                    <a class="delete-button-comments" href="/posts/delete-comment/<%= comment._id %>" >
                        <i class="fas fa-trash-alt "></i>
                    </a>
                <%}%>
            </div>
            
        <%}%>
    </div>
</div>