<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home Page | CloudConnect
    </title>
    <link rel="shorcut icon" type="image/x-icon" href="../images/fevion.png">
    <script src="https://kit.fontawesome.com/22406f9d4d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/user.css"> 
    <link rel="stylesheet" type="text/css" href="/css/user-home.css"> 
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"> 
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <script></script>
</head>
<body>

    <script>
        <% if(flash.success && flash.success.length > 0){%>
            new Noty({
                theme: 'semanticui' , 
                text: "<%= flash.success%>" , 
                type : "success" , 
                layout : "topRight" , 
                timeout : 3000 
            }).show() 
        <%}%>
        <% if(flash.error && flash.error.length > 0){%>
            new Noty({
                theme: 'semanticui' , 
                text: "<%= flash.error%>" , 
                type : "error" , 
                layout : "topRight" , 
                timeout : 3000 
            }).show() 
        <%}%>
    </script>

    <div class="header-for-user-profile">
        <a id="Web-logo" href="/users/home-page">
            <i class="fad fa-moon-cloud fa-4x" id="cloud-connect-logo" aria-hidden="true"></i>
            <p id="cloud-connect-name">Cloud Connect.</p>
        </a>
        <p>
            <a href="/users/home-page">
                CloudConnect
            </a>
        </p>
        <div>
            <a href="/users/sign-out" >
                <button class="sign-out-button">
                    <i class="fas fa-sign-out"></i> &nbsp; Sign-Out 
                </button>
            </a>
            <a href="/users/profile/<%= user._id%>" >
                <button class="goto-home-button">
                    <i class="fas fa-user"></i>&nbsp; Profile 
                </button>
            </a>
        </div>
    </div>
    <%- include("postP") -%>

    <%- include("asideSection") -%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/homeJS.js"></script>

</body>
</html>